* {
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
  -moz-user-select: -moz-none;
  -o-user-select: none;
  user-select: none;
}

.movie_card {
  width: 250px;
  margin: 5px;
}

.movie_card_img {
  height: 300px;
}
.movie_info {
  color: #5e5c5c;
}

.movie_info i {
  font-size: 20px;
}
.card-title-movie {
  height: 50px;
  color: black;
  text-align: center;
}

.card-body a {
  text-decoration: none;
}
