.main_card {
  color: #fff;
  width: 800px;
  height: 390px;
  margin: 50px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-width: 800px;
  background: #bbc2c4;
  background: -webkit-linear-gradient(to right, #0d0f0e, #bbc2c4);
  background: -webkit-gradient(
    linear,
    left top,
    right top,
    from(#0d0f0e),
    to(#bbc2c4)
  );
  background: -webkit-linear-gradient(left, #0d0f0e, #bbc2c4);
  background: -o-linear-gradient(left, #0d0f0e, #bbc2c4);
  background: linear-gradient(to right, #0d0f0e, #bbc2c4);
  -webkit-box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 40px rgba(0, 0, 0, 0.3);
}

.card_left {
  width: 90%;
}

.card_datails {
  width: 90%;
  padding: 5px;
  margin-top: 25px;
  margin-left: 10px;
}
.card_datails {
  font-size: 15px;
}
.crew {
  font-size: 15px;
}
.card_right img {
  height: 390px;
  border-radius: 2px;
  width: 270px;
}
.card_right {
  border-radius: 2px;
}

.card_cat {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.year,
.genre,
.time {
  color: fff;
  padding: 2px;
  font-weight: bold;
  border-radius: 15px;
}

.PG {
  padding: 8px;
  font-weight: bold;
  border-radius: 15px;
  background: #e6bd0b;
  -webkit-box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.disc {
  font-weight: 100;
  line-height: 27px;
}
a {
  display: block;
  text-decoration: none;
}
.social-btn {
  margin-left: 0px;
}
.crd-button {
  color: #fff;
  border: none;
  padding: 15px;
  outline: none;
  font-size: 12px;
  background: #e6bd0b;
  border-radius: 12px;
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  -webkit-transition: 300ms ease-in-out;
  -o-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
}

.crd-button:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
}
.play_btn {
  height: 100%;
  margin: -394px auto;
  position: relative;
  text-align: center;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.2);
}
.fa-play-circle {
  color: #255;
  font-size: 160px;
  margin-top: 110px;
  -webkit-animation: bounce 1s -0.4s infinite;
  animation: bounce 1s -0.4s infinite;
}

@-webkit-keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  10% {
    transform: scale(1.8);
    -webkit-transform: scale2;
    opacity: 0;
  }
}

@keyframes bounce {
  8% {
    transform: scale(0.3);
    -webkit-transform: scale(0.8);
    opacity: 1;
  }
  20% {
    transform: scale(1.8);
    -webkit-transform: scale2;
    opacity: 0;
  }
}
